<section *ngIf="isLoggedIn()" class="wrapper">

	<div class="wrapper">
		<header class="main-header"></header>
		<aside class="main-sidebar"></aside>
		<div class="content-wrapper">
			<hardware *ngIf="getActiveSection() == 'hardware'"></hardware>
			<devices *ngIf="getActiveSection() == 'devices'"></devices>
			<screen *ngIf="getActiveSection() == 'screen'"></screen>
			<users *ngIf="getActiveSection() == 'users'"></users>
			<scripts *ngIf="getActiveSection() == 'scripts'"></scripts>
			<setup *ngIf="getActiveSection() == 'setup'"></setup>

			<div *ngIf="getActiveSection() == 'help'">

				<section class="content-header">
				<h1>Help<small>we all need help sometimes</small></h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Help</a></li>
				</ol>
				</section>

				<section class="content">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Copyright</h3>
					</div>
					<div class="box-body">
MIT License

Copyright (c) 2016 CardGate B.V.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

					</div>
				</div>
				</section>

				<section class="content">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Credits</h3>
					</div>
					<div class="box-body">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget orci vitae turpis dapibus tincidunt sit amet in quam. Fusce dignissim tempus lacinia. Nullam rhoncus, nulla eu fermentum finibus, leo purus consectetur arcu, non gravida mauris nunc eu neque. Phasellus rhoncus vel dui vel rutrum. Integer ullamcorper lacinia nibh eu gravida. Donec lacinia quam risus, vel molestie tellus hendrerit eget. Nam pretium, ipsum ac auctor accumsan, tortor nunc pellentesque velit, sit amet mollis diam dolor at risus. Sed lobortis elit quis purus elementum bibendum. Phasellus in orci purus. Nullam sodales dui a accumsan luctus. Maecenas sollicitudin magna purus, non convallis odio commodo quis.<br />
<br />
Morbi eu vestibulum ipsum, ac bibendum neque. Integer ac euismod leo. Ut pulvinar pretium dui, quis vestibulum risus iaculis sagittis. Nulla euismod tempus consectetur. Pellentesque auctor dictum velit, vitae pellentesque felis hendrerit ut. Nulla ac purus eros. Aliquam elementum mauris id viverra hendrerit. Proin laoreet scelerisque leo, et vestibulum nisl euismod non. Cras bibendum ex diam, at suscipit nisl gravida nec. Integer tincidunt tempor tortor a vestibulum. Vestibulum sit amet viverra magna. Maecenas aliquet, nunc non scelerisque lobortis, urna ipsum mattis leo, a elementum libero diam vel est.
					</div>
				</div>
				</section>

			</div>
		</div>
	</div>

</section>

<login *ngIf="!isLoggedIn()"></login>
