<section *ngIf="isLoggedIn()" class="wrapper">

<div class="wrapper">

	<header class="main-header"></header>

	<aside class="main-sidebar"></aside>

	<div class="content-wrapper">

		<section class="content-header">
		<h1>Dashboard<small>it all starts here</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li><a href="#">Examples</a></li>
			<li class="active">Blank page</li>
		</ol>
		</section>

	</div>

</div>

</section>

<login *ngIf="!isLoggedIn()"></login>
