<section class="content-header">
<a *ngIf="hardware && !hardware.parent" routerLink="/hardware/{{hardware.id}}/device/{{device.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit</a>
<a *ngIf="hardware && hardware.parent" routerLink="/hardware/{{hardware.parent.id}}/{{hardware.id}}/device/{{device.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit</a>
<a *ngIf="script" routerLink="/scripts/{{script.id}}/device/{{device.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit</a>
<a *ngIf="screen" routerLink="/screens/{{screen.id}}/device/{{device.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit</a>
<a *ngIf="!hardware && !script && !screen" routerLink="/devices/{{device.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit</a>

<a *ngIf="hardware && !hardware.parent" routerLink="/hardware/{{hardware.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Back</a>
<a *ngIf="hardware && hardware.parent" routerLink="/hardware/{{hardware.parent.id}}/{{hardware.id}}/edit" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Back</a>
<a *ngIf="script" routerLink="/scripts/{{script.id}}" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Back</a>
<a *ngIf="screen" routerLink="/screens/{{screen.id}}" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Back</a>
<a *ngIf="!hardware && !script && !screen" routerLink="/devices" (click)="loading=true;" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Back</a>

<h1>{{device.name}}
<small *ngIf="script">{{script.name}}</small>
<small *ngIf="!script">{{device.hardware}}</small>
</h1>
</section>

<section class="content-body">

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=''" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>








	<ng-container *ngIf="device.type == 'counter' || device.type == 'level'">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Day</h3>
				</div>
				<div class="box-body chart-box" id="day_chart_target"></div>

				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Week</h3>
				</div>
				<div class="box-body chart-box" id="week_chart_target"></div>

				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Month</h3>
				</div>
				<div class="box-body chart-box" id="month_chart_target"></div>

				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Year</h3>
				</div>
				<div class="box-body chart-box" id="year_chart_target"></div>

				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>
	</ng-container>




	<ng-container *ngIf="device.type == 'text'">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive no-padding">

<table class="table" [gridData]="data" [gridSort]="'timestamp'" [gridOrder]="'desc'" #grid="GridDirective">
<thead>
	<tr>
		<!-- th [gridField]="'id'">Id</th -->
		<th [gridField]="'timestamp'">Updated</th>
		<th [gridField]="'value'">Value</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let item of grid.page">
		<td>{{item.timestamp | timestamp}}</td>
		<td>{{item.value}}</td>
	</tr>
</tbody>
<tfoot>
	<tr>
		<td colspan="2" class="paging"><grid-paging [grid]="grid"></grid-paging></td>
	</tr>
</tfoot>
</table>

				</div>

				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>
	</ng-container>

	<ng-container *ngIf="device.type == 'switch'">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive no-padding">

<table class="table" [gridData]="data" [gridSort]="'timestamp'" [gridOrder]="'desc'" #grid="GridDirective">
<thead>
	<tr>
		<!-- th [gridField]="'id'">Id</th -->
		<th [gridField]="'timestamp'">Updated</th>
		<th [gridField]="'value'">Value</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let item of grid.page">
		<td>{{item.timestamp | timestamp}}</td>
		<td><span class="label"
			[class.label-success]="item.value=='On'||item.value=='Enabled'"
			[class.label-danger]="item.value=='Off'||item.value=='Disabled'"
			[class.label-primary]="item.value=='Stop'"
			[class.label-warning]="item.value=='Idle'"
			[class.label-info]="item.value!='On' && item.value!='Enabled' && item.value!='Off' && item.value!='Disabled' && item.value!='Stop' && item.value!='Idle'"
			>{{item.value}}</span>
		</td>
	</tr>
</tbody>
<tfoot>
	<tr>
		<td colspan="2" class="paging"><grid-paging [grid]="grid"></grid-paging></td>
	</tr>
</tfoot>
</table>

				</div>

				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>
	</ng-container>

</section>
