<section class="content-header" *ngIf="! plugin && ! script">
<h1><i class="fa fa-thermometer-half"></i> Devices</h1>
</section>

<section [class.content-body]="! plugin && ! script">

	<div class="callout callout-info" *ngIf="devices.length == 0">
		<h4>No Devices!</h4>
		<p>There are no devices configured in your system.</p>
	</div>

	<div class="row" *ngIf="devices.length > 0">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border" *ngIf="!! plugin || !! script">
					<h3 class="box-title">Devices</h3>
				</div>
				<ng-container *ngIf="devices.length > 0">
				<div class="box-body" *ngIf="devices.length > 9">
					<grid-search [grid]="grid"></grid-search>
				</div>
				<div class="box-body no-padding scroll">

<table class="table" [gridData]="devices" [gridSort]="'name'" [gridPage]="startPage" #grid="GridDirective"
	[class.table-hover]="grid.page.length > 0"
>
<thead>
	<tr>
		<th class="icon"></th>
		<th [gridField]="'name'">Name</th>
		<th class="icon"></th>
		<th [gridField]="'value'">Value</th>
		<th [gridField]="'plugin'">Plugin</th>
		<th [gridField]="'label'">Label</th>
		<th [gridField]="'age'">Last Update</th>
	</tr>
</thead>
<tbody>
	<tr *ngIf="grid.page.length == 0">
		<td colspan="7" class="center">No search results.</td>
	</tr>
	<tr *ngFor="let device of grid.page" (click)="selectDevice( device )"
		[class.disabled]="! device.enabled"
		[class.warning]="device.battery_level >= 20 && device.battery_level < 45"
		[class.danger]="device.battery_level < 20"
	>
		<td class="icon" [ngSwitch]="device.type">
<ng-container *ngSwitchCase="'switch'" [ngSwitch]="device.subtype">
	<i class="fa fa-adjust" *ngSwitchCase="'blinds'"></i>
	<i class="fa fa-bullseye" *ngSwitchCase="'action'"></i>
	<i class="fa fa-lightbulb-o" *ngSwitchCase="'light'"></i>
	<i class="fa fa-eye" *ngSwitchCase="'motion_detector'"></i>
	<i class="fa fa-user" *ngSwitchCase="'occupancy'"></i>
	<i class="fa fa-fire" *ngSwitchCase="'heater'"></i>
	<i class="fa fa-flag" *ngSwitchCase="'fan'"></i>
	<i class="fa fa-bell-o" *ngSwitchCase="'bell'"></i>
	<i class="fa fa-sign-out" *ngSwitchCase="'contact'"></i>
	<i class="fa fa-fire-extinguisher" *ngSwitchCase="'smoke_detector'"></i>
	<i class="fa fa-industry" *ngSwitchCase="'co_detector'"></i>
	<i class="fa fa-bullhorn" *ngSwitchCase="'alarm'"></i>
	<ng-container *ngSwitchDefault>
		<i class="fa fa-toggle-on" *ngIf="device.value!='Off'"></i>
		<i class="fa fa-toggle-off" *ngIf="device.value=='Off'"></i>
	</ng-container>
</ng-container>
<ng-container *ngSwitchCase="'level'" [ngSwitch]="device.subtype">
	<i class="fa fa-battery" *ngSwitchCase="'battery_level'"></i>
	<i class="fa fa-umbrella" *ngSwitchCase="'humidity'"></i>
	<i class="fa fa-sun-o" *ngSwitchCase="'luminance'"></i>
	<i class="fa fa-thermometer-half" *ngSwitchCase="'temperature'"></i>
	<i class="fa fa-bolt" *ngSwitchCase="'power'"></i>
	<i class="fa fa-lightbulb-o" *ngSwitchCase="'dimmer'"></i>
	<i class="fa fa-line-chart" *ngSwitchDefault></i>
</ng-container>
<ng-container *ngSwitchCase="'counter'" [ngSwitch]="device.subtype">
	<i class="fa fa-bolt" *ngSwitchCase="'energy'"></i>
	<i class="fa fa-bar-chart" *ngSwitchDefault></i>
</ng-container>
<ng-container *ngSwitchCase="'text'" [ngSwitch]="device.subtype">
	<i class="fa fa-font" *ngSwitchDefault></i>
</ng-container>
		</td>
		<td>{{ device.name }}</td>
		<td class="icon">
			<i class="fa fa-code" *ngIf="device.total_scripts > 0"></i>
			<i class="fa fa-calendar" *ngIf="device.total_timers > 0"></i>
			<i class="fa fa-link" *ngIf="device.total_links > 0"></i>
			<i class="fa fa-clock-o" *ngIf="device.scheduled"></i>
			<i class="fa fa-battery-half" *ngIf="device.battery_level >= 45 && device.battery_level < 75"></i>
			<i class="fa fa-battery-quarter" *ngIf="device.battery_level >= 20 && device.battery_level < 45"></i>
			<i class="fa fa-battery-empty" *ngIf="device.battery_level < 20"></i>
		</td>
		<td><span class="label"
			[class.label-success]="device.value == 'On' || device.value == 'Enabled'"
			[class.label-danger]="device.value == 'Off' || device.value == 'Disabled'"
			[class.label-primary]="device.value == 'Stop'"
			[class.label-warning]="device.value == 'Idle'"
			[class.label-info]="device.value != 'On' && device.value != 'Enabled' && device.value != 'Off' && device.value != 'Disabled' && device.value != 'Stop' && device.value != 'Idle'"
			>{{ device.value | truncate:15:'&hellip;' }} {{ device.unit }}</span>
		</td>
		<td>{{ device.plugin }}</td>
		<td>{{ device.label }}</td>
		<td>{{ -device.age | timestamp }}</td>
	</tr>
</tbody>
</table>

				</div>
				<div class="box-footer" *ngIf="grid.getPageCount() > 1">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 paging">
						<grid-paging [grid]="grid"></grid-paging>
					</div>
				</div>
				</ng-container>

			</div>
		</div>
	</div>

</section>
