<section class="content-header">
<a *ngIf="device.enabled" routerLink="/devices/{{ device.id }}/details" class="btn btn-primary btn-xs pull-right"><i class="fa fa-database"></i> Details</a>
<h1><i class="fa fa-pencil"></i> {{ title }}<small>{{ device.plugin }}</small></h1>
</section>

<section class="content-body">

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<button type="button" class="btn btn-primary btn-xs pull-right" *ngIf="hasAdvancedSettings" (click)="settingsComponent.toggleAdvancedSettings()"><span *ngIf="! settingsComponent.showAdvancedSettings">Show Advanced</span><span *ngIf="settingsComponent.showAdvancedSettings">Hide Advanced</span></button>
					<h3 class="box-title">Edit Device</h3>
				</div>

				<form role="form" (ngSubmit)="submitDevice( deviceForm )" #deviceForm="ngForm">
				<div class="box-body">
					<settings [settings]="device.settings" [form]="deviceForm" [values]="device" #settingsComponent="settingsComponent"></settings>
				</div>
				<div class="box-footer">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-success btn-block" [disabled]="! deviceForm.form.valid">Save</button>
					</div>
					<div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-offset-3 col-md-3 col-md-push-3 col-lg-offset-6 col-lg-2 col-lg-push-2">
						<button type="button" class="btn btn-danger btn-block" (click)="deleteDevice()">Delete</button>
					</div>
					<div class="col-xs-12 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-3 col-lg-2 col-lg-pull-2">
						<div class="dropdown">
						<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Add to Screen <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<ng-container *ngFor="let screen of screens">
								<li *ngIf="!screen.device_id"><a (click)="addToScreen( screen )">{{ screen.name }}</a></li>
							</ng-container>
						</ul>
						</div>
					</div>
				</div>
				</form>

			</div>
		</div>
	</div>

	<timers *ngIf="device.enabled && ! device.readonly" [device]="device"></timers>
	<links *ngIf="device.enabled && device.type == 'switch'" [device]="device"></links>

</section>

