<section class="content-header">
<h1>{{device.name}}<small>{{device.hardware.name}}</small></h1>
<ol class="breadcrumb">
	<ng-container *ngIf="hardware">
	<li><a routerLink="/hardware"><i class="fa fa-microchip"></i> Hardware</a></li>
	<li><a routerLink="/hardware/{{hardware.id}}"><i class="fa fa-pencil"></i> {{hardware.name}}</a></li>
	</ng-container>
	<ng-container *ngIf="!hardware">
	<li><a routerLink="/devices"><i class="fa fa-thermometer-half"></i> Devices</a></li>
	</ng-container>
	<li><span><i class="fa fa-pencil"></i> Edit</span></li>
</ol>
</section>

<section class="content-body">

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=''" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row">

		<ng-container [ngSwitch]="device.type">
			<counterwidget *ngSwitchCase="'counter'" [device]="device"></counterwidget>
			<levelwidget *ngSwitchCase="'level'" [device]="device"></levelwidget>
			<switchwidget *ngSwitchCase="'switch'" [device]="device"></switchwidget>
			<textwidget *ngSwitchCase="'text'" [device]="device"></textwidget>
		</ng-container>

		<div class="col-xs-12" [class.col-md-8]="device.type=='switch'">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Device</h3>
				</div>

				<form role="form" (ngSubmit)="submitDevice()" #deviceForm="ngForm">
				<div class="box-body">
					<div class="form-group" [class.has-error]="!name.valid && !name.pristine">
						<label for="device_name">Name</label>
						<input type="text" class="form-control" id="device_name" placeholder="Enter name" autocomplete="off" required [(ngModel)]="device.name" name="name" #name="ngModel">
					</div>
					<div class="callout callout-danger" [hidden]="name.valid || name.pristine">A name is required!</div>
					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" value="1" [(ngModel)]="device.enabled" name="enabled">Enabled</label>
						</div>
					</div>
					<div class="form-group" *ngIf="scripts.length>0">
						<label>Scripts</label>
						<div class="checkbox" *ngFor="let script of scripts">
							<label><input type="checkbox" value="{{script.id}}" [checked]="device.scripts.indexOf(script.id) >= 0" (change)="updateSelectedScripts(script.id,$event);deviceForm.form.markAsDirty();">{{script.name}}</label>
						</div>
					</div>
				</div>
				<div class="box-footer row actionrow">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-success btn-block" [disabled]="!deviceForm.form.valid || deviceForm.form.pristine || loading">Save</button>
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-6 col-md-3 col-lg-offset-8 col-lg-2">
						<button type="button" class="btn btn-danger btn-block" (click)="deleteDevice()">Delete</button>
					</div>
				</div>
				</form>

			</div>
		</div>
	</div>

</section>
