<section class="content-header">
<h1>{{hardware.label}}</h1>
<ol class="breadcrumb">
	<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li><a routerLink="/hardware"><i class="fa fa-microchip"></i> Hardware</a></li>
	<ng-container *ngIf="hardware.parent">
	<li><a routerLink="/hardware/{{hardware.parent.id}}"><i class="fa fa-pencil"></i> {{hardware.parent.label}}</a></li>
	</ng-container>
	<li><span><i class="fa fa-pencil"></i> Edit</span></li>
</ol>
</section>

<section class="content-body">

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=''" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<button type="button" class="btn btn-primary btn-xs pull-right" *ngIf="hasAdvancedSettings" (click)="showAdvancedSettings=!showAdvancedSettings"><span *ngIf="!showAdvancedSettings">Show Advanced</span><span *ngIf="showAdvancedSettings">Hide Advanced</span></button>
					<h3 class="box-title">Edit Hardware</h3>
				</div>

				<form role="form" (ngSubmit)="submitHardware()" #hardwareForm="ngForm">
				<div class="box-body">
					<div class="form-group" [class.has-error]="!name.valid && !name.pristine">
						<label for="hardware_name">Name</label>
						<input type="text" class="form-control" id="hardware_name" placeholder="Enter name" autocomplete="off" required [(ngModel)]="hardware.name" name="name" #name="ngModel">
					</div>
					<div class="callout callout-danger" [hidden]="name.valid || name.pristine">A name is required!</div>
					<div class="form-group" *ngIf="!hardware.parent">
						<div class="checkbox">
							<label><input type="checkbox" value="1" [(ngModel)]="hardware.enabled" name="enabled">Enabled</label>
						</div>
					</div>

					<!-- settings -->
					<ng-container *ngFor="let setting of hardware.settings">
					<ng-container *ngIf="showAdvancedSettings || setting.class!='advanced'">
					<ng-container [ngSwitch]="setting.type">
					<div class="form-group" *ngSwitchCase="'string'" [class.has-error]="!field.valid && !field.pristine">
						<label for="hardware-setting-{{setting.name}}">{{setting.label}}</label>
						<div class="callout callout-info" *ngIf="setting.description && setting.description.length>0">{{setting.description}}</div>
						<input type="text" class="form-control" id="hardware-setting-{{setting.name}}" placeholder="{{setting.label}}" autocomplete="off" required [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">
					</div>
					<div class="form-group" *ngSwitchCase="'list'" [class.has-error]="!field.valid && !field.pristine">
						<label for="hardware-setting-{{setting.name}}">{{setting.label}}</label>
						<div class="callout callout-info" *ngIf="setting.description && setting.description.length>0">{{setting.description}}</div>
						<select class="form-control" id="hardware-setting-{{setting.name}}" required [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">
							<option *ngFor="let option of setting.options" value="{{option.value}}">{{option.label}}</option>
						</select>
					</div>
					<div class="form-group" *ngSwitchCase="'byte'" [class.has-error]="!field.valid && !field.pristine">
						<label for="hardware-setting-{{setting.name}}">{{setting.label}}</label>
						<div class="callout callout-info" *ngIf="setting.description && setting.description.length>0">{{setting.description}}</div>
						<input type="number" maxlength="3" min="{{setting.min}}" max="{{setting.max}}" pattern="^[0-9]{1,3}$" class="form-control" id="hardware-setting-{{setting.name}}" placeholder="{{setting.label}}" autocomplete="off" required [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">
					</div>
					<div class="form-group" *ngSwitchCase="'short'" [class.has-error]="!field.valid && !field.pristine">
						<label for="hardware-setting-{{setting.name}}">{{setting.label}}</label>
						<div class="callout callout-info" *ngIf="setting.description && setting.description.length>0">{{setting.description}}</div>
						<input type="number" maxlength="5" min="{{setting.min}}" max="{{setting.max}}" pattern="^[0-9]{1,5}$" class="form-control" id="hardware-setting-{{setting.name}}" placeholder="{{setting.label}}" autocomplete="off" required [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">
					</div>
					<div class="form-group" *ngSwitchCase="'int'" [class.has-error]="!field.valid && !field.pristine">
						<label for="hardware-setting-{{setting.name}}">{{setting.label}}</label>
						<div class="callout callout-info" *ngIf="setting.description && setting.description.length>0">{{setting.description}}</div>
						<input type="number" min="{{setting.min}}" max="{{setting.max}}" pattern="^[0-9]+$" class="form-control" id="hardware-setting-{{setting.name}}" placeholder="{{setting.label}}" autocomplete="off" required [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">
					</div>
					<div class="form-group" *ngSwitchCase="'double'" [class.has-error]="!field.valid && !field.pristine">
						<label for="hardware-setting-{{setting.name}}">{{setting.label}}</label>
						<div class="callout callout-info" *ngIf="setting.description && setting.description.length>0">{{setting.description}}</div>
						<input type="number" min="{{setting.min}}" max="{{setting.max}}" pattern="^[0-9\.]+$" class="form-control" id="hardware-setting-{{setting.name}}" placeholder="{{setting.label}}" autocomplete="off" required [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">
					</div>
					<div class="form-group" *ngSwitchCase="'boolean'">
						<div class="checkbox">
							<label><input type="checkbox" [(ngModel)]="setting.value" name="{{setting.name}}" #field="ngModel">{{setting.label}}</label>
						</div>
					</div>
					</ng-container>
					</ng-container>
					</ng-container>
					<!-- / settings -->

				</div>



<!-- fix the misalignment of buttons with ngSwitch -->
				<div class="box-footer row actionrow">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-success btn-block" [disabled]="!hardwareForm.form.valid || hardwareForm.form.pristine || loading">Save</button>
					</div>

					<!-- buttons for zwave -->
					<div class="col-xs-12 col-sm-4 col-md-offset-3 col-md-3 col-lg-offset-6 col-lg-2 dropdown" *ngIf="hardware.state=='ready' && hardware.type=='zwave'">
						<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Management <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a (click)="zwaveIncludeMode();">Include Node</a></li>
							<li><a (click)="zwaveExcludeMode();">Exclude Node</a></li>
							<li><a (click)="zwaveHealNetwork();">Heal Network</a></li>
						</ul>
					</div>
					<!-- / buttons for zwave -->

					<!-- buttons for zwavenodes -->
					<div class="col-xs-12 col-sm-4 col-md-offset-3 col-md-3 col-lg-offset-6 col-lg-2 dropdown" *ngIf="hardware.type=='zwave_node' && hardware.parent && hardware.parent.state=='ready'">
						<button type="button" class="btn btn-primary btn-block dropdown-toggle" (click)="zwaveHealNode();">Heal Node</button>
					</div>
					<!-- / buttons for zwavenodes -->

					<!-- buttons for dummy hardware -->
					<div class="col-xs-12 col-sm-4 col-md-offset-3 col-md-3 col-lg-offset-6 col-lg-2 dropdown" *ngIf="hardware.state=='ready' && hardware.type=='dummy'">
						<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Add <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a (click)="dummyAddDevice('counter');"><i class="fa fa-bar-chart pull-right"></i>Counter</a></li>
							<li><a (click)="dummyAddDevice('level');"><i class="fa fa-area-chart pull-right"></i>Level</a></li>
							<li><a (click)="dummyAddDevice('switch');"><i class="fa fa-toggle-on pull-right"></i>Switch</a></li>
							<li><a (click)="dummyAddDevice('text');"><i class="fa fa-font pull-right"></i>Text</a></li>
						</ul>
					</div>
					<!-- / buttons for dummy hardware -->

					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2"
						[class.col-sm-offset-4]="hardware.state!='ready' || ['dummy','zwave','zwave_node'].indexOf(hardware.type)==-1"
						[class.col-md-offset-6]="hardware.state!='ready' || ['dummy','zwave','zwave_node'].indexOf(hardware.type)==-1"
						[class.col-lg-offset-8]="hardware.state!='ready' || ['dummy','zwave','zwave_node'].indexOf(hardware.type)==-1"
					>
						<button type="button" class="btn btn-danger btn-block" (click)="deleteHardware()">Delete</button>
					</div>
				</div>
				</form>

			</div>
		</div>
	</div>

</section>

<hardware [parent]="hardware"></hardware>
<devices [hardware]="hardware"></devices>

<!-- Dialog for Z-Wave Management In- and Exclude Actions -->
<div class="modal fade" id="zwave-action" role="dialog" *ngIf="hardware.type=='zwave' || hardware.type=='zwave_node'">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Z-Wave
					<span *ngIf="zwavemode=='include'">Include Mode</span>
					<span *ngIf="zwavemode=='exclude'">Exclude Mode</span>
					<span *ngIf="zwavemode=='heal'">Healing Network</span>
				</h4>
			</div>
			<div class="modal-body">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="zwavemode!='heal'"></i>
				<span *ngIf="zwavemode=='heal' && hardware.type=='zwave'">Network healing started.</span>
				<span *ngIf="zwavemode=='heal' && hardware.type=='zwave_node'">Node healing started. If the node is battery powered, bring it close to the controller or the controller close to the node for optimal results.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="zwaveExitMode()" *ngIf="zwavemode!='heal'">Exit</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="zwavemode=='heal'">Ok</button>
			</div>
		</div>
	</div>
</div>
