<section class="content-header" *ngIf="!parent || hardware.length>0">
<h1>Hardware</h1>
</section>

<section class="content-body" *ngIf="hardware.length==0 && !loading && !parent">

	<div class="callout callout-info" *ngIf="!error">
		<h4>No Hardware!</h4>
		<p>There's no hardware configured in your system.</p>
	</div>

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=null" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-footer row actionrow">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="button" [disabled]="loading" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Add <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a (click)="addHardware('dummy');">Dummy Hardware</a></li>
							<li><a (click)="addHardware('harmony_hub');">Logitech Harmony Hub</a></li>
							<li><a (click)="addHardware('zwave');">Z-Wave</a></li>
							<li><a (click)="addHardware('solaredge');">SolarEdge</a></li>
							<li><a (click)="addHardware('weather_underground');">Weather Underground</a></li>
							<li><a (click)="addHardware('rfxcom');">RFXCom</a></li>
							<li><a (click)="addHardware('p1_meter');">P1 Smart Meter</a></li>
							<li><a (click)="addHardware('telegram');">Telegram Bot</a></li>
							<li><a (click)="addHardware('sunriset');">Sunriset</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section class="content-body" *ngIf="hardware.length>0">

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=null" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive no-padding">

<table class="table table-hover" [gridData]="hardware" [gridSort]="'name'" #grid="GridDirective">
<thead>
	<tr>
		<!-- th [gridField]="'id'">Id</th -->
		<th [gridField]="'name'">Name</th>
		<th [gridField]="'state'">State</th>
		<th [gridField]="'label'">Label</th>
		<th [gridField]="'type'">Type</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let item of grid.page" (click)="selectHardware(item)"
		[class.danger]="!item.enabled"
	>
		<!-- td>{{item.id}}</td -->
		<td>{{item.name}}</td>
		<td><span class="label"
			[class.label-default]="item.state=='disabled'"
			[class.label-success]="item.state=='ready'"
			[class.label-danger]="item.state=='failed'"
			[class.label-info]="item.state=='sleeping' || item.state=='disconnected'"
			[class.label-warning]="item.state=='initializing'"
			>{{item.state}}</span></td>
		<td>{{item.label}}</td>
		<td>{{item.type}}</td>
	</tr>
</tbody>
<tfoot>
	<tr>
		<td colspan="5" class="paging"><grid-paging [grid]="grid"></grid-paging></td>
	</tr>
</tfoot>
</table>

				</div>
				<div class="box-footer row actionrow" *ngIf="!parent">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="button" [disabled]="loading" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Add <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a (click)="addHardware('dummy');">Dummy Hardware</a></li>
							<li><a (click)="addHardware('harmony_hub');">Logitech Harmony Hub</a></li>
							<li><a (click)="addHardware('zwave');">Z-Wave</a></li>
							<li><a (click)="addHardware('solaredge');">SolarEdge</a></li>
							<li><a (click)="addHardware('weather_underground');">Weather Underground</a></li>
							<li><a (click)="addHardware('rfxcom');">RFXCom</a></li>
							<li><a (click)="addHardware('p1_meter');">P1 Smart Meter</a></li>
							<li><a (click)="addHardware('telegram');">Telegram Bot</a></li>
							<li><a (click)="addHardware('sunriset');">Sunriset</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 paging">
						<grid-paging [grid]="grid"></grid-paging>
					</div>
				</div>
				<div class="box-overlay" *ngIf="loading">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>
	</div>

</section>
