<section class="content-header">
<h1>Hardware<small>the things that keep your domotica system running</small></h1>
</section>

<section class="content-body" (window:resize)="resizeView()">

	<div class="callout callout-danger" [hidden]="!error">
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row" [hidden]="error">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive no-padding" id="table_hardware">

<table class="table table-hover">
<thead>
	<tr>
		<th></th>
		<th>Id</th>
		<th>Name</th>
		<th>Label</th>
		<th>Type</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let item of hardware"
		[class.active]="item==selectedHardware"
		(click)="selectHardware(item)">
		<td><input type="checkbox" [checked]="item==selectedHardware" readonly></td>
		<td>{{item.id}}</td>
		<td>{{item.name}}</td>
		<td>{{item.label}}</td>
		<td>{{item.type}}</td>
		<td>
			<button class="btn btn-success btn-xs" *ngIf="item.type=='openzwave'" (click)="openzwaveIncludeMode(item);$event.stopPropagation();">Include</button><br />
			<button class="btn btn-danger btn-xs" *ngIf="item.type=='openzwave'" (click)="openzwaveExcludeMode(item);$event.stopPropagation();">Exclude</button><br />
			<button class="btn btn-info btn-xs" *ngIf="item.type=='openzwave'">Heal</button>
		</td>
	</tr>
</tbody>
</table>

				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-8" *ngIf="selectedHardware">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">#{{selectedHardware.id}} - {{selectedHardware.label}}</h3>
				</div>

<form role="form" (ngSubmit)="submitHardware()" #hardwareForm="ngForm">
<div class="box-body">
	<div class="form-group" [class.has-error]="!name.valid">
		<label for="hardware_name">Name</label>
		<input type="text" class="form-control" id="hardware_name" placeholder="Enter name" autocomplete="off" required [(ngModel)]="selectedHardware.name" name="name" #name="ngModel">
	</div>
	<div class="alert alert-danger" [hidden]="name.valid || name.pristine">A name is required!</div>
</div>
<div class="box-footer">
	<button type="submit" class="btn btn-primary" [disabled]="!hardwareForm.form.valid">Submit</button>
</div>
</form>

			</div>
		</div>

	</div>

</section>

<div class="modal fade" id="openzwave-action" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">OpenZWave
					<span *ngIf="openzwavemode=='include'">Include Mode</span>
					<span *ngIf="openzwavemode=='exclude'">Exclude Mode</span>

				</h4>
			</div>
			<div class="modal-body">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="exitMode()">Exit</button>
			</div>
		</div>
	</div>
</div>
