<section class="content-header">
<h1>{{hardware.label}}<small *ngIf="hardware.parent">{{hardware.parent.label}}</small></h1>
<ol class="breadcrumb">
	<li><a routerLink="/hardware"><i class="fa fa-microchip"></i> Hardware</a></li>
	<li><span><i class="fa fa-pencil"></i> Edit</span></li>
</ol>
</section>

<section class="content-body">

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=''" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Hardware</h3>
				</div>

				<form role="form" (ngSubmit)="submitHardware()" #hardwareForm="ngForm">
				<div class="box-body">
					<div class="form-group" [class.has-error]="!name.valid">
						<label for="hardware_name">Name</label>
						<input type="text" class="form-control" id="hardware_name" placeholder="Enter name" autocomplete="off" required [(ngModel)]="hardware.name" name="name" #name="ngModel">
					</div>
					<div class="alert alert-danger" [hidden]="name.valid || name.pristine">A name is required!</div>
					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" value="1" [(ngModel)]="hardware.enabled" name="enabled">Enabled</label>
						</div>
					</div>
				</div>
				<div class="box-footer row actionrow">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-success btn-block" [disabled]="!hardwareForm.form.valid || hardwareForm.form.pristine || loading">Save</button>
					</div>
					<!-- OpenZWave Management Button -->
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-6 col-md-3 col-lg-offset-8 col-lg-2 dropdown" *ngIf="hardware.type=='openzwave'">
						<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Management <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a (click)="openzwaveIncludeMode();">Include Node</a></li>
							<li><a (click)="openzwaveExcludeMode();">Exclude Node</a></li>
							<li><a (click)="openzwaveHealNetwork();">Heal Network</a></li>
						</ul>
					</div>
					<!-- / OpenZWave Management Button -->
				</div>
				</form>

			</div>
		</div>
	</div>

</section>

<devices [hardware]="hardware"></devices>

<!-- Dialog for OpenZWave Management In- and Exclude Actions -->
<div class="modal fade" id="openzwave-action" role="dialog" *ngIf="hardware.type=='openzwave'">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">OpenZWave
					<span *ngIf="openzwavemode=='include'">Include Mode</span>
					<span *ngIf="openzwavemode=='exclude'">Exclude Mode</span>
					<span *ngIf="openzwavemode=='heal'">Healing Network</span>
				</h4>
			</div>
			<div class="modal-body">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="openzwavemode!='heal'"></i>
				<span *ngIf="openzwavemode=='heal'">Network healing started.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openzwaveExitMode()" *ngIf="openzwavemode!='heal'">Exit</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="openzwavemode=='heal'">Ok</button>
			</div>
		</div>
	</div>
</div>
