<section class="content-header">
<h1><i class="fa fa-pencil"></i> {{ title }}
	<small *ngIf="plugin.parent">{{ plugin.parent.name }}</small>
</h1>
</section>

<section class="content-body">

	<div class="row" [hidden]="showDeleteWarning">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<button type="button" class="btn btn-primary btn-xs pull-right" *ngIf="hasAdvancedSettings" (click)="settingsComponent.toggleAdvancedSettings()"><span *ngIf="! settingsComponent.showAdvancedSettings">Show Advanced</span><span *ngIf="settingsComponent.showAdvancedSettings">Hide Advanced</span></button>
					<h3 class="box-title">Edit Plugin</h3>
				</div>

				<form role="form" (ngSubmit)="submitPlugin( pluginForm )" #pluginForm="ngForm">
				<div class="box-body">
					<settings [settings]="plugin.settings" [form]="pluginForm" [values]="plugin" #settingsComponent="settingsComponent"></settings>
				</div>
				<div class="box-footer">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-success btn-block" [disabled]="! pluginForm.form.valid">Save</button>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" *ngIf="!! plugin.id"
						[class.col-md-offset-3]="hasActionDevices"
						[class.col-lg-offset-6]="hasActionDevices"
						[class.col-lg-push-2]="hasActionDevices"
						[class.col-md-push-3]="hasActionDevices"
						[class.col-sm-push-4]="hasActionDevices"
						[class.col-sm-offset-4]="! hasActionDevices"
						[class.col-md-offset-6]="! hasActionDevices"
						[class.col-lg-offset-8]="! hasActionDevices"
					>
						<button type="button" class="btn btn-danger btn-block" (click)="showDeleteWarning = true">Delete</button>
					</div>
					<div *ngIf="hasActionDevices" class="col-xs-12 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-3 col-lg-2 col-lg-pull-2">
						<div class="dropdown">
						<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<ng-container *ngFor="let device of devices">
							<li *ngIf="device.subtype == 'action'"><a (click)="performAction( device );">{{ device.label }}</a></li>
							</ng-container>
						</ul>
						</div>
					</div>
				</div>
				</form>

			</div>
		</div>
	</div>

	<ng-container *ngIf="! showDeleteWarning">
		<devices *ngIf="devices?.length > 0" [plugin]="plugin"></devices>
		<plugins *ngIf="plugin.children?.length > 0" [parent]="plugin"></plugins>
	</ng-container>

	<ng-container *ngIf="showDeleteWarning">
		<div class="callout callout-danger">
			<button type="button" class="pull-right" (click)="showDeleteWarning = false"><i class="fa fa-times fa-2x"></i></button>
			<h4>Warning!</h4>
			<p>Are you sure that you want to delete this plugin?</p>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-footer">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
							<button type="button" class="btn btn-primary btn-block" (click)="deletePlugin()">Proceed</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>

</section>