<section class="content-header">
<a *ngIf="screen.id > 1" routerLink="/screens/{{screen.id}}/edit" class="btn btn-primary btn-xs pull-right"><i class="fa fa-pencil"></i> Edit</a>
<h1>{{screen.name}}</h1>
</section>

<section class="content-body" *ngIf="screen.widgets.length == 0 && !loading">

	<div class="callout callout-info" *ngIf="!error">
		<h4>No Widgets!</h4>
		<p>There are no widgets configured for this screen.</p>
	</div>

	<div class="callout callout-danger" *ngIf="error">
		<button type="button" (click)="error=null" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

</section>

<section class="content-body">

	<div class="row">

	<ng-container *ngFor="let widget of screen.widgets">

	{{widget.device_id}}

<!--
		<ng-container [ngSwitch]="widget.device.type">
			<counterwidget *ngSwitchCase="'counter'" [widgetConfig]="widget"></counterwidget>
			<levelwidget *ngSwitchCase="'level'" [widgetConfig]="widget"></levelwidget>
			<switchwidget *ngSwitchCase="'switch'" [widgetConfig]="widget"></switchwidget>
			<textwidget *ngSwitchCase="'text'" [widgetConfig]="widget"></textwidget>
		</ng-container>
-->

	</ng-container>


	</div>

</section>
