<section class="content-header">
<h1><i class="fa fa-pencil"></i> {{ title }}</h1>
</section>

<section class="content-body">

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Script</h3>
				</div>
				<div class="box-body no-padding editor" id="script_editor_target"></div>

				<form role="form" (ngSubmit)="submitScript()" #scriptForm="ngForm">
				<div class="box-body">
					<settings [settings]="script.settings" [form]="scriptForm" [values]="script" #settingsComponent="settingsComponent"></settings>
				</div>
				<div class="box-footer">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<button type="submit" class="btn btn-success btn-block" [disabled]="! scriptForm.form.valid">Save</button>
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-6 col-md-3 col-lg-offset-8 col-lg-2" *ngIf="script.id">
						<button type="button" class="btn btn-danger btn-block" (click)="deleteScript()">Delete</button>
					</div>
				</div>
				</form>

			</div>
		</div>
	</div>

	<devices [script]="script" *ngIf="script.device_ids && script.device_ids.length > 0"></devices>

</section>
