<section class="content-header" *ngIf="!editorScript">
<h1>Scripts<small>scripting galore</small></h1>
</section>

<section class="content-header" *ngIf="editorScript">
<h1>Edit Script<small>keep it simple</small></h1>
<ol class="breadcrumb">
	<li (click)="cancelScript()" class="click-target"><span><i class="fa fa-code"></i> Scripts</span></li>
	<li><span><i class="fa fa-pencil"></i> Edit Script</span></li>
</ol>
</section>

<section class="content-body">

	<div class="callout callout-danger" [hidden]="!error">
		<h4>Error!</h4>
		<p>{{error}}</p>
	</div>

	<div class="row" [hidden]="error || editorScript">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive no-padding" id="table_scripts">

<table class="table table-hover">
<thead>
	<tr>
		<th></th>
		<th>Id</th>
		<th>Name</th>
		<th>Status</th>
		<th>Runs</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let script of scripts"
		[class.active]="script==selectedScript"
		[class.danger]="script.status==3"
		[class.warning]="script.status==2"
		(click)="selectScript(script)">
		<td><input type="checkbox" [checked]="script==selectedScript" readonly></td>
		<td>{{script.id}}</td>
		<td>{{script.name}}</td>
		<td>{{script.status}}</td>
		<td>{{script.runs}}</td>
	</tr>
</tbody>
</table>

				</div>
			</div>
		</div>

		<div class="actionrow">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<button type="button" class="btn btn-primary btn-block" (click)="addScript()">Add</button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<button type="button" class="btn btn-primary btn-block" [disabled]="!selectedScript" (click)="editScript()">Edit</button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-offset-3 col-md-3 col-lg-offset-6 col-lg-2">
				<button type="button" class="btn btn-danger btn-block" [disabled]="!selectedScript" (click)="deleteScript()">Delete</button>
			</div>
		</div>
	</div>

	<div class="row" [hidden]="!editorScript">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title" *ngIf="editorScript">{{editorScript.name}}</h3>
				</div>
				<div class="box-body editor" id="script_editor_target"></div>

<form role="form" *ngIf="editorScript">
<div class="box-footer">
	<div class="form-group">
		<label for="script_name">Name</label>
		<input type="text" class="form-control" id="script_name" placeholder="Enter name" autocomplete="off" required [(ngModel)]="editorScript.name" name="name" #name="ngModel">
	</div>
	<div class="alert alert-danger" [hidden]="name.valid || name.pristine">A name is required!</div>
</div>
</form>

			</div>
		</div>
		<div class="actionrow">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
				<button type="button" class="btn btn-success btn-block" (click)="saveScript()">Save</button>
			</div>
			<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-6 col-md-3 col-lg-offset-8 col-lg-2">
				<button type="button" class="btn btn-danger btn-block" (click)="cancelScript()">Cancel</button>
			</div>
		</div>
	</div>

</section>

<div class="modal fade" id="delete-confirmation-dialog" role="dialog" *ngIf="selectedScript">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Delete "{{selectedScript.name}}"</h4>
			</div>
			<div class="modal-body">Are you sure that you want to remove this script?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteScript(true)">Yes</button>
			</div>
		</div>
	</div>
</div>
