<div [ngClass]="classes">

	<div class="callout callout-danger" *ngIf="!! error">
		<button type="button" (click)="error=''" class="pull-right"><i class="fa fa-times fa-2x"></i></button>
		<h4>Error!</h4>
		<p>{{ error }}</p>
	</div>

	<ng-container *ngIf="! error" [ngSwitch]="widget.type">
		<gaugewidget *ngSwitchCase="'gauge'" [screen]="screen" [widget]="widget" [devices]="devices" (onAction)="onAction( $event )"></gaugewidget>
		<chartwidget *ngSwitchCase="'chart'" [screen]="screen" [widget]="widget" [devices]="devices" (onAction)="onAction( $event )"></chartwidget>
		<switchwidget *ngSwitchCase="'switch'" [screen]="screen" [widget]="widget" [devices]="devices" (onAction)="onAction( $event )"></switchwidget>
		<latestwidget *ngSwitchCase="'latest'" [screen]="screen" [widget]="widget" [devices]="devices" (onAction)="onAction( $event )"></latestwidget>
		<tablewidget *ngSwitchCase="'table'" [screen]="screen" [widget]="widget" [devices]="devices" (onAction)="onAction( $event )"></tablewidget>
	</ng-container>

</div>
