/* global */

body {
	background-color: #ecf0f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
}
a, button {
	color: #3c8dbc;
}
a:hover, button:hover,
a:active, button:active,
a:focus, button:focus {
	outline: 0 !important;
	text-decoration: none;
	color: #72afd2;
}
.no-padding {
	padding: 0 !important;
}
.click-target {
	cursor: pointer !important;
}
#resize_target {
	overflow: auto;
}
label .mandatory {
	color:#FF0000;
}

/* header */

.header {
	position: fixed;
	max-height: 100px;
	z-index: 1030;
	top: 0;
	right: 0;
	left: 0;
}
.header .logo {
	display: block;
	float: left;
	height: 50px;
	color: #ffffff;
	border-bottom: 0 solid transparent;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	padding: 0 15px;
	font-weight: 300;
}
.header > .logo {
	width: 230px;
	overflow: hidden;
	background-color: #367fa9;
}
.header .navbar {
	margin-bottom: 0;
	margin-left: 230px;
	border: none;
	min-height: 50px;
	border-radius: 0;
	background-color: #3c8dbc;
}
.header .navbar .logo {
	display: none;
	width: auto;
}
.header .navbar .nav {
	float: left;
	color: #ffffff;
	background-color: transparent;
	background-image: none;
	padding: 15px 15px;
	border: 0;
}
.header .navbar .nav span {
	margin-left: 8px;
}
.header .navbar .nav:hover {
	background: #367fa9;
	background: rgba(0, 0, 0, 0.1);
}
.header .navbar .nav.menu-btn {
	display: none;
}

@media (max-width: 767px) {
	.header .navbar {
		width: 100%;
		float: none;
		margin: 0;
	}
	.header > .logo {
		display: none;
	}
	.header .navbar .logo {
		display: block;
	}
	.header .navbar .nav.menu-btn {
		display: block;
	}
}
@media (max-width: 991px) {
	.header .navbar .nav span {
		display: none;
	}
}

/* sidebar */

.sidebar {
	-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

	position: fixed;
	top: 0;
	left: 0;
	padding-top: 50px;
	padding-bottom: 10px;
	height: 100%;
	width: 230px;
	z-index: 810;
	background-color: #222d32;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}
.sidebar::-webkit-scrollbar {
	display: none;
}

@media (max-width: 767px) {
	.sidebar {
		-webkit-transform: translate(-230px, 0);
		-moz-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}
}
@media (max-width: 767px) {
	.sidebar-open .sidebar {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
.sidebar a {
	color: #b8c7ce;
}
.sidebar .menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar .menu > li {
	position: relative;
	margin: 0;
	padding: 0;
}
.sidebar .menu > li:not(.menu-header) > a {
	padding: 12px 5px 12px 15px;
	display: block;
	position: relative;
	border-left: 3px solid transparent;
}
.sidebar .menu > li:not(.menu-header):hover > a,
.sidebar .menu > li.active:not(.menu-header) > a {
	color: #ffffff;
	background: #1e282c;
}
.sidebar .menu > li.active:not(.menu-header) > a {
	border-left-color: #3c8dbc;
}
.sidebar .menu > li:not(.menu-header) > a > .fa {
	width: 20px;
}
.sidebar .menu > li:not(.menu-header) .label {
	margin-right: 5px;
}
.sidebar .menu .menu-header {
	background: #1a2226;
	padding: 10px 25px 10px 15px;
}
.sidebar .menu .menu-header > a {
	color: #4b646f;
}
.sidebar .menu .menu-header > a:hover {
	color: #ffffff;
}
.sidebar .menu .menu-header > a > .fa {
	width: 15px;
}

.sidebar .menu .menu-header > span {
	color: #4b646f;
	font-size: 13px;
	text-transform: uppercase;
}

.sidebar .menu li > a > .pull-right-container {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
}
.loading-overlay div {
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	width: 200px;
	height: 200px;
	position: relative;
	background: black;
	background: rgba(0, 0, 0, 0.45);
	border-top: 3px solid #444;
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.loading-overlay div .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #FFF;
	font-size: 35px;
}

/* content */

.content {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;

	margin-left: 230px;
	z-index: 820;
	padding-top: 65px;
	background-color: #ecf0f5;
}
.content .content-header {
	position: relative;
	padding: 0 15px 0 15px;
}
.content .content-header > h1 {
	margin: 0;
	font-size: 24px;
	font-family: 'Helvetica Narrow', 'Arial Narrow', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
}
.content .content-header > h1 > .fa {
	color: #777;
	font-weight: 100;
	width: 25px;
	font-size: 0.8em;
}
.content .content-header > h1 > small {
	font-size: 15px;
	display: inline-block;
	padding-left: 4px;
	font-weight: 300;
}
.content .content-header a.btn.pull-right,
.content .content-header button.btn.pull-right {
	margin-left: 5px;
}

.content .content-body {
	padding: 15px 15px 0 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.content .content-body [class*='col-'] {
	padding-left: 7px;
	padding-right: 8px;
}
.content .content-body .row {
	margin-left: -7px;
	margin-right: -8px;
}

@media (max-width: 767px) {
	.content {
		margin-left: 0;
	}
	.sidebar-open .content {
		/* this animation shifts the content to the right when the menu is opened */
		-webkit-transform: translate(230px, 0);
		-moz-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		-o-transform: translate(230px, 0);
		transform: translate(230px, 0);
	}
}

.content .box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 15px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.content .box.bg {
	border-top-color: #444;
	border-top-color: rgba( 0, 0, 0, 0.16 );
}
.content .box-header:before,
.content .box-body:before,
.content .box-footer:before,
.content .box-header:after,
.content .box-body:after,
.content .box-footer:after {
	content: " ";
	display: table;
}
.content .box-header:after,
.content .box-body:after,
.content .box-footer:after {
	clear: both;
}
.content .box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
	line-height: 1.2em;
}
.content .bg .box-header {
	color: #FFF;
}
.content .box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}
.content .bg .box-header.with-border {
	border-bottom: 1px solid #444;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
}

.content .box-header .box-title {
	font-size: 18px;
	margin: 0;
	line-height: 1.2em;
	overflow: hidden;
	max-width: 85%;
	max-width: calc(100% - 55px);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Helvetica Narrow', 'Arial Narrow', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
}
.content .box-header button.pull-right,
.content .box-header a.pull-right {
	margin-left: 5px;
}
.content .box-header .box-tools {
	position: absolute;
	right: 8px;
	top: 8px;
}
.content .box-header .box-tools .btn {
	background: transparent;
	color: #97a0b3;
	border: 0;
	font-size: 1.1em;
	float: right;
}
.content .box-header .box-tools .btn:hover,
.content .box-header .box-tools .btn:active {
	box-shadow:none;
	color: #000;
}
.content .box-header .box-tools .btn .fa {
	margin: 0;
}
.content .bg .box-header .box-tools .btn {
	color: #FFF;
}
.content .bg .box-header .box-tools .btn:hover,
.content .bg .box-header .box-tools .btn:active {
	color: black;
	color: rgba( 0, 0, 0, 0.3 );
}
.content .box-body {
	padding: 10px 10px 0 10px;
}
.content .box-body.scroll {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.content .box-body .callout {
	margin-bottom: 10px;
}
.content .box-body .table {
	margin-bottom: 0;
}
.content .box-body .table td.icon {
	width: 30px;
	text-align: center;
}
.content .box-body .table td.icon .fa {
	position: relative;
	top: 1px;
}
.content .box-body p {
	margin-bottom: 10px;
}
.content .box-body.chart {
	padding: 0;
	height: 300px;
	overflow: hidden;
}
.content .box-body.inlinechart {
	padding: 0;
	height: 40px;
	margin-top: -25px;
	overflow: hidden;
}
.content .box-body.gauge {
	height: 180px;
}
.content .box-body.chart.widget {
	height: 200px;
}
.content .box-footer {
	border-top: 1px solid #d2d6de;
	padding: 10px 5px 0 5px;
}
.content form .box-footer {
	border-top: 1px solid #f4f4f4;
}
.content form .tools .btn {
	background: transparent;
	color: #97a0b3;
	border: 0;
	font-size: 1.1em;
}
.content form .tools .btn:hover,
.content form .tools .btn:active {
	box-shadow:none;
	color: #000;
}
.content form .tools .btn .fa {
	margin: 0;
}
.content form .multiselect {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin: -8px -10px 0 -10px;
}

.content .bg .box-footer {
	border-top: 0;
	background-color: #444;
	background-color: rgba( 0, 0, 0, 0.2 );
	color: white;
	color: rgba( 0, 0, 0, 0.5 );
	text-align: center;
	font-size: 13px;
	padding: 5px 0;
}
.content .box-footer [class*='col-'] {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}
.content .box.bg-aqua {
	background-color: #00c0ef;
}
.content .box.bg-red {
	background-color: #dd4b39;
}
.content .box.bg-yellow {
	background-color: #f39c12;
}
.content .box.bg-blue {
	background-color: #0073b7;
}
.content .box.bg-green {
	background-color: #00a65a;
}
.content .box.bg-teal {
	background-color: #39cccc;
}
.content .box.bg-olive {
	background-color: #3d9970;
}
.content .box.bg-orange {
	background-color: #ff851b;
}
.content .box.bg-purple {
	background-color: #605ca8;
}
.content .box.bg-gray {
	background-color: #AAAAAA;
}

/* table pagination and search */

.paging ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: block;
}
.paging li {
	display: inline-block;
}
@media (max-width: 768px) {
	.paging ul {
		text-align: center;
	}
}

/* callouts */

.callout {
	border-radius: 3px;
	margin: 0 0 15px 0;
	padding: 15px 15px 15px 15px;
	border-left: 5px solid #eee;
	color: #FFF;
}
.callout h4 {
	margin-top: 0;
	font-family: 'Helvetica Narrow', 'Arial Narrow', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
}
.callout.callout-danger {
	border-color: #c23321;
	background-color: #dd4b39 !important;
}
.callout.callout-warning {
	border-color: #c87f0a;
	background-color: #f39c12 !important;
}
.callout.callout-info {
	border-color: #0097bc;
	background-color: #00c0ef !important;
}
.callout.callout-success {
	border-color: #00733e;
	background-color: #00a65a !important;
}
.callout p:last-child {
	margin-bottom: 0;
}
.callout button {
	background: none;
	border: none;
	box-shadow: none;
	color: #FFF;
}
.callout button:hover {
	opacity: 0.8;
}

/* bootstrap overrides */

.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #d2d6de;
}
.form-control:not(select) {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.form-control:focus {
	border-color: #3c8dbc;
	box-shadow: none;
}
.form-control + .form-control-feedback {
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	color:#AAA;
}
.form-control:focus + .form-control-feedback {
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;

	color: #367fa9;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
	color: #bbbbbb;
	opacity: 1;
}
.form-control-feedback.fa {
	line-height: 34px;
}
.dropdown-menu li {
	cursor: pointer;
}
.btn {
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 1px;
	border: 1px solid transparent;
}
.btn .fa {
	margin-right: 5px;
}
.btn-selected {
	background-color: #CCC;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px 10px;
	vertical-align: middle;
}
form .table tr td {
	background-color: #f9f9f9;
}
.table td,
.table th {
	white-space: nowrap;
}
.table-hover tr td {
	cursor: pointer;
}
.table th a {
	cursor: pointer;
}
.table tr.disabled {
	background-color:#E8E8E8;
}
.table tr.disabled:hover {
	background-color:#EEEEEE;
}
.table th.minimum,
.table td.minimum {
	width: 1%;
}
.table th.center,
.table td.center {
	text-align: center;
}
.table th.right,
.table td.right {
	text-align: right;
}
.fa.green {
	color: #00a65a;
	font-size: 1.2em;
}
.fa.red {
	color: #dd4b39;
	font-size: 1.2em;
}

/* login */

.login-box-content {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
.login-box {
	width: 360px;
	margin: 7% auto;
}
.login-box .login-logo {
	font-size: 35px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300;
}
.login-box .login-box-body {
	background: #fff;
	padding: 20px;
	color: #666;
	border-radius: 3px;
	border-top: 3px solid #d2d6de;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;
}

@media (max-width: 768px) {
	.login-box {
		width: 90%;
		margin-top: 20px;
	}
}

/* widgets */

.content .box-body.latest .table td {
	border: 0;
	text-align: center;
	color: #FFF;
	font-size: 30px;
}
.content .box-body.latest .table td i {
	font-size: 45px;
	color: white;
	color: rgba( 0, 0, 0, 0.3 );
}
.content .box-body.latest td.minimum {
	width: 25%;
}
.content .box-body.latest div.slider {
	position: relative;
	margin-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content .box-body.latest div.slider-track {
	background-color: rgba( 0, 0, 0, 0.3 );
	height: 6px;
	border-radius: 5px;
}
.content .box-body.latest div.slider-handle {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

	-webkit-transition-property: width, height, border-radius, margin-left, top;
	-moz-transition-property: width, height, border-radius, margin-left, top;
	-o-transition-property: width, height, border-radius, margin-left, top;
	transition-property: width, height, border-radius, margin-left, top;

	background-color:#FFF;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	position: absolute;
	top:-3px;
	margin-left: -16px;
}
.content .box-body.latest div.slider-handle.slider-animate {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;

	width: 24px;
	height: 24px;
	border-radius: 12px;
	margin-left: -12px;
	top:1px;
}

/* script editor */

.editor {
	height: 400px;
}
.ace_scrollbar-inner {
	/* fixes a bug where scrollbars don't appear on safari */
	background-color: white;
	opacity: 0.01;
}