.login-box-content {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
.login-box {
	width: 360px;
	margin: 7% auto;
}
.login-box .login-logo {
	font-size: 35px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300;
}
.login-box .login-box-body {
	background: #fff;
	padding: 20px;
	color: #666;
	border-radius: 3px;
	border-top: 3px solid #d2d6de;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;
}

@media (max-width: 768px) {
	.login-box {
		width: 90%;
		margin-top: 20px;
	}
}